$main:#CE7A58 !global;
$second:#903938 !global;
$third:#67A99F !global;
$fourth:#FEBF60 !global;
$fifth:#3F4E9F !global;
$border:#C3C8D2;
$border1:#E9EBF0;
$text:#292D34;
$textD:#82858A;
$link:#2A6EBB;
$bg:#f3f3f3;
$danger:#ED5050;
$warning:#FF8C00;
$text1:#82858A;

$success:#219653;

